//large styles
@media screen and (min-width: 45em) {
  .page-wrapper {
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 3fr;
    grid-gap: 10px;
  }
    h3 {
      font: 2em "Lobster Two", serif;
    }
    .intro {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-gap: 10px;
      header {
        position: absolute;
        display: flex;
        justify-content: space-between;
        grid-column: 1/3;
        width: 100%;
        h1:after {
          display: none;
        }
        h1:before {
          position: absolute;
          right: 30%;
          top: 10%;
          font: 4em "Lobster Two", serif;
          color: $white;
          content: "The Painted Garden";
        }
        h1, h2 {
          padding: 5%;
        }
      }
      .summary {
        grid-column: 1/2;
        margin-top: 20em;
        p:nth-child(2):before {
          padding: 90px;
          top: 80%;
          left: 1%;
        }
        p:nth-child(2):after {
          top: 80%;
          left: 5%;
        }
      }
      .preamble {
        grid-column: 2/3;
        margin-top: 20em;
      }
    }
    .main {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    footer {
      grid-column: 1/2;
      grid-row: 3/4;
    }
    /* .explanation {
      background:  $transparent url(green-puddle.svg) no-repeat center;
      background-size: cover;
      padding: 20px 20px 90px;
      color: $white;
      margin-top: 2em;
    } */
    aside {
      grid-column: 2/3;
      grid-row: 1/4;
      display: flex;
      flex-flow: column;
      padding-top: 20em;
     
      /*background-color: $yellow;*/
      background-image: url(brush-1318350_640.png); /*--Image by <a href="https://pixabay.com/users/Elionas-2345468/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1318350">
      Elias Schäfer</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1318350">Pixabay</a>*/
      background-repeat: no-repeat;
     background-position-y: 810px;
     background-position-x: 50%;
      background-attachment: scroll;
      .design-selection ul {
        display: flex;
        flex-flow: column;
        
      }
      .zen-resources {
        background: unset;
        padding: 0;
        margin: 0;
        ul {
          display: flex;
          flex-flow: column;
          justify-content: space-between;
          li {
            padding: 2em 0;
          }
        li a {
          text-decoration: underline;
          color: $black;
          }
        }
      }
    }
  }
