@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Open+Sans&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
/* basic elements */
body { 
	font-family: $font-main;
  color: $black; 
  width: 100%;
}
p { 
	margin-top: 0; 
	text-align: left;
	}
h3 { 
	font: 1.5em $font-header;
  color: $black;
  padding: 1.5em 0 .25em 0;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: $black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: $gray;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: $gray;
  }
  
/* specific divs */
.page-wrapper { 
  margin: 0 auto; 
  display: flex;
  flex-flow: column;
}
header {
  margin: 0;
  background: $transparent url(drips.svg) repeat-x 100%;
  background-size: contain;
  height: 15em;
  text-align: center;
  h1 {
    padding-top: .5em;
    font: 1.25em $font-main;
    color: $white;
    &::after {
      display: block;
      padding-top: .5em;
      font: 2.25em $font-header;
      color: $white;
      content: "The Painted Garden"
    }
  }
  h2 {
    padding-top: .5em;
    font: 1.25em $font-main;
    color: $white;
  }
}
.preamble, .participation, .benefits, .requirements, .explanation {
  width: 90%;
  margin: 0 auto;
}
.summary p:first-child {
  font: 1em $font-main; 
  padding: 20px;
  text-align: center;
}
.summary p:nth-child(2) {
  margin: 50px;
  padding: 50px;
  //background: $transparent url(splat.svg) no-repeat center;
  //background-size: contain;
  background: $yellow;
  border-radius: 30% 45% 60% 50% / 25% 60% 50% 70%;
  color: $black;
  text-align: center;
  box-shadow: $shadow;
}
.summary p:nth-child(2):before {
  position: absolute;
  z-index: -1;
  content: "";
  padding: 100px;
  top: 50%;
  left: 5%;
  background: $red;
  border-radius: 40% 60% 50% 70% / 30% 45% 70% 50%;
  transform: rotate(40deg);
  box-shadow: $shadow;
  overflow: hidden;
}
.summary p:nth-child(2):after {
  position: absolute;
  z-index: -1;
  content: "";
  padding: 100px;
  top: 50%;
  left: 45%;
  background: $blue;
  border-radius: 25% 60% 50% 70% / 30% 45% 60% 50%;
  transform: rotate(20deg);
  box-shadow: $shadow;
  overflow: hidden;
}
/* .preamble:before {
  position: absolute;
  z-index: -3;
  content: "";
  padding: 100px;
  top: 122%;
  //left: 43%;
  background: $blue;
  border-radius: 25% 60% 50% 70% / 30% 45% 60% 50%;
  transform: rotate(70deg);
  box-shadow: $shadow;
  overflow: hidden;
}
.preamble:after {
  position: absolute;
  z-index: -2;
  content: "";
  padding: 110px;
  top: 140%;
  //left: 50%;
  background: $red;
  border-radius: 25% 60% 50% 70% / 30% 45% 60% 50%;
  transform: rotate(20deg);
  box-shadow: $shadow;
  overflow: hidden;
}
.explanation {
  //background: $red;
  padding: 20px 20px 90px;
  color: $black;
  margin-top: 2em;
  h3{
    padding: 0 0 .25em 0;
    color: $black;
  }
}
 .explanation:before {
  position: absolute;
  z-index: -4;
  content: "";
  padding: 100px;
  top: 140%;
  //right: 5%;
  background: $green;
  border-radius: 25% 60% 50% 70% / 30% 45% 60% 50%;
  transform: rotate(90deg);
  box-shadow: $shadow;
  overflow: hidden;
}
.explanation:after {
  position: absolute;
  z-index: -1;
  content: "";
  padding: 90px;
  top: 125%;
  //right: 15%;
  background: $purple;
  border-radius: 25% 60% 50% 70% / 30% 45% 60% 50%;
  transform: rotate(10deg);
  box-shadow: $shadow;
  overflow: hidden;
} */
.requirements p:last-child {
  font-weight: bold;
  text-align: center;
  padding: 2em;
}
footer {  
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: .5em;
  .zen-validate-html {
    background: $red;
    border-radius: 60% 70% 50% 40% / 70% 60% 50% 70%; 
    padding: 2.75em;
    color: $white;
    box-shadow: $shadow;
  }
  .zen-validate-css {
    background: $blue;
    border-radius: 50% 50% 60% 70% / 60% 60% 70% 80%;
    padding: 2.75em;
    color: $white;
    box-shadow: $shadow;
  }
  .zen-license {
    background: $green;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    padding: 2.75em;
    color: $white;
    box-shadow: $shadow;
  }
  .zen-accessibility {
    background: $yellow;
    border-radius: 40% 60% 40% 60% / 70% 40% 30% 30%;
    padding: 2.75em;
    color: $white;
    box-shadow: $shadow;
  }
  .zen-github {
    background: $purple;
    border-radius: 40% 40% 60% 60% / 70% 60% 70% 50%;
    padding: 2.75em;
    color: $white;
    box-shadow: $shadow;
  }
}
.sidebar .wrapper { 
font-family: $font-main; 
}
.design-selection {
  text-align: center;
}
.design-name {
  display: block;
  font: 1.5em $font-header;
}
.designer-name {
  margin: 0 0 1em 0;
  display: block;
}
.zen-resources {
  background: $transparent url(purple-arch-splat.svg) no-repeat center;
  background-size: cover;
  padding: 6em 0 1em 0;
  margin: 0;
  text-align: center;
  ul {
    margin: 2em 0;
    padding: 1em 2em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 0.5em;
    }
    li{
      padding-top: 1.5em; 
      a {
      color: $white;
      }
    }
  h3 {
    display: none;
  }
}
.design-archives {
  margin: 3em auto;
  h3 {
    padding: 0;
    font: 3em $font-header;
    color: $black;
    text-align: center;
    margin-top: 1em;
  }
  ul li {
    font: 1em $font-main;
    color: $black;
    text-align: center;
    margin: 1em auto;
  }
}
@import 'medium';
@import 'large';