/* footer {  
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  font-size: .5em;
  .zen-validate-html {
    background: $transparent url(blue-splat.svg) no-repeat center;
    padding: 2.75em;
    background-size: contain;
    color: $white;
  }
  .zen-validate-css {
    background: $transparent url(yellow-splat.svg) no-repeat center;
    padding: 2.75em;
    background-size: contain;
    color: $white;
  }
  .zen-license {
    background: $transparent url(splat.svg) no-repeat center;
    padding: 2.75em;
    background-size: contain;
    color: $white;
  }
  .zen-accessibility {
    background: $transparent url(green-splat.svg) no-repeat center;
    padding: 2.75em;
    background-size: contain;
    color: $white;
  }
  .zen-github {
    background: $transparent url(purple-splat.svg) no-repeat center;
    padding: 2.75em;
    background-size: contain;
    color: $white;
  }
} */