 @media screen and (min-width: 667px) {

     .summary p:nth-child(2) {
         display: flex;
         justify-content: center;
         align-items: center;
         height: 200px;
         width: 50%;
     }

     .explanation {
         background: url(red-drips-medium.svg) no-repeat center;
         background-size: cover;
         height: 340px;
     }

     footer {
         font-size: 16px;

         .zen-validate-html {
             color: $black;
         }

         .zen-validate-css {
             color: $black;
         }

         .zen-license {
             color: $black;
         }

         .zen-accessibility {
             color: $black;
         }

         .zen-github {
             color: $black;
         }
     }

     .zen-resources {
         background: url(purple-arch-splat.svg) no-repeat center;
         background-size: cover;
         height: 255px;

         ul {
             padding-top: 150px;
             font-size: 16px;
         }

     }
 }