// medium styles
@media screen and (min-width: 460px) and (max-width: 720px) {
  .design-selection ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 40px;
  }
  .summary {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 20em;
    p:nth-child(2):before {
      /* padding: 90px;
      top: 80%;
      left: 1%; */
      display: none;
    }
    p:nth-child(2):after {
      /* top: 80%;
      left: 5%; */
      display: none;
    }
  }
  .preamble {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 15em;
  }
  .zen-resources {
    background: unset;
    padding: 0;
    margin: 0;
    li a {
      text-decoration: underline;
      color: $black;
    }
  }
}