//variables
$font-header: "Lobster Two", serif;
$font-main: "open Sans", 'Arial', sans-serif;
$blue: #1446a0;
$green: #147a6c;
$yellow: #fce028;
$purple: #700c9e;
$red: #db2020;
$white: #e6e6e6ff;
$black: #00000c;  
$gray: #9685BA;
$transparent: #ffffff00;
$shadow: -4px 3px 10px -1px rgba(0,0,0,0.75);